@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Montserrat:wght@400;500&family=Updock&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;

    background-color: #f7f7f7;

    animation: fadeIn;
    animation-duration: 1.1s;
    animation-delay: 0s;
}

/* header */

.header{
    height: 9vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background: #f2f2f2;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 92%;

    animation: fadeInDown;
    animation-duration: 2s;
    animation-delay: 0s;
}

.hmenu{
    display: flex;
    gap: 15px;
    margin: 0px 64px;
}

.hlogo{
    cursor: pointer;
    opacity: 100%;

    margin: 0px 64px;
}

.hmeitem{
    color: #0d0d0d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    opacity: 100%;

    transform: 2ms ease-in;
    position: relative;

    transition: 0.8s;
}

.hmeitem:hover{
    color: #b1a750;
    font-size: 20px;
}

/* Título principal */

.cont{
    margin-bottom: 48px;
    border-top: 0.4px solid #f2f2f2;
}

.cont-principal{
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(img/wlp1b.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.35);
} 

.cont-principal-escrito{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px 20px rgba(24,24,24,0.45);

    animation: fadeInUp;
    animation-duration: 2s;
    animation-delay: 0s;
}

.cont-principal-escrito-titulo{
    font-family: 'Updock', cursive;
    font-weight: 600;
    font-size: 7.75rem;
    color: #f7f7f7;
    margin-bottom: -35px;
}

.cont-principal-escrito-subtitulo{
    font-family: 'Gentium Plus', serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: #f7f7f7;
}

.cont-pr-st{
    margin: auto;
    display: block;
    margin-top: 50px;

    animation: shakeY;
    animation-duration: 8s;
    animation-delay: 0s;

    transition: 1s;
}

.cont-pr-st:hover{
    width: 75px;
}


/* Configuração Texto */

.sec{
    flex-wrap: wrap;
}

.sec-tit{
    justify-content: center;
}

.sec-tit-txt{
    padding-top: 24px;
    font-family: 'Updock', cursive;
    font-weight: 400;
    text-align: center;
    font-size: 64px;
    color: #0d0d0d;
    margin: -35px auto;
    text-shadow: 0px 2px 12px rgba(24, 24, 24, 0.30);
}

#sec-tit-txt-1{
    margin-top: 32px;
}

.sec-txt-tit{
    font-family: 'Gentium Plus', serif;
    font-weight: 300;
    font-size: 48px;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.20);

}

.sec-desc{
    text-align: justify;
    font-weight: 100;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 64px;
}


.sec-img{
    border: 2px #181818 solid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2px;
}

/* Configuração de sessão */

.sec-div-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 64px;
    margin-top: -32px;
}

.sec-div-txt-c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 64px;
    margin-top: -86px;
}

.sec-txt{
    display: flex;
    flex-direction: column;
}

#sec-txt-1{
    margin-top: 32px;
}

/* Galeria */

.sec-gal{
    padding: 10px;
    margin: auto 24px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.sec-tit {
    margin: 20px;
}

.gal-img-lin-1{
    display: grid;
    grid-template-areas: 
    "img3 img2"
    "img8 img4";
    margin-left: 10px;
}

.gal-img-lin-1>img{
    margin: 16px 16px;
    border: #b1a750 solid 2px;
    border-radius: 10;
    padding: 2px;
}

.gal-img-lin-2{
    display: grid;
    grid-template-areas: center
    "img1 img5 img6"
    "img7 img8 img9"
    "img10";
    margin-left: 300px;
}

.gal-img-lin-2>img{
    width: 620px;
    height: 800px;
    margin: 4px 4px;
    border: #b1a750 solid 2px;
    border-radius: 10;
    padding: 2px;
}


/* Card Galeria */

.gal-itm{
    height: 324px;
    width: 324px;
    border-radius: 4px;

    display: grid;
    place-items: center;
    grid-template-areas: "main";

    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.gal-itm > *{
    grid-area: main;
}

.gal-itm > .gal-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: 15px 30px;

    transition: transform 400ms, filter 400ms;
}

.gal-itm > .gal-img-tit{
    opacity: 0;
    color: white;
    font-size: 1.8em;

    transition: transform 400ms, filter 400ms;
}

.gal-itm:is(:hover, :focus) > .gal-img{
    transform: scale(1.1);
    filter: brightness(0.4);
}

.gal-itm:is(:hover, :focus) > .gal-img-tit{
    transform: scale(1.2);
    opacity: 1;
}

/* Grid Galeria */

.gal{
    display: grid;
    justify-items: center;
    
    margin: 64px;
    gap: 48px;

    grid-template-areas:
    "c1 c1 c1"
    "c1 c1 c1"
    "c1 c1 c1";
}

/* footer */
.foot-container{
    display: flex;
    padding: 16px;
    background: #603A10;
    background: -webkit-linear-gradient(top left, #603A10, #B1A751);
    background: -moz-linear-gradient(top left, #603A10, #B1A751);
    background: linear-gradient(to bottom right, #603A10, #B1A751);
    border-top: 1.8px solid black;
    opacity: 80%;
}

.foot-tit{
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Gentium Plus', serif;
    color: #f2f2f2; 
}

/* 
font-family: 'Gentium Plus', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Updock', cursive;
*/
